<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>App</title>
    <% include ./partials/head  %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/strava" class="btn btn-primary"><span class="fa fa-bicycle"></span> Strava</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

    </div>

    <footer>
        <% include ./partials/footer %>
    </footer>

</body>
</html>
